/* Tablas. */
/* ================= TABLAS ================= */
.table {
  --bs-table-bg: transparent; --bs-table-color: var(--tinta);
  --bs-table-border-color: var(--costura-color);
  --bs-table-striped-bg: rgba(142,140,78,.15); --bs-table-striped-color: var(--tinta);
  --bs-table-hover-bg: rgba(214,161,60,.24);   --bs-table-hover-color: var(--tinta);
  --bs-table-active-bg: rgba(124,42,26,.16);   --bs-table-active-color: var(--tinta);
}
.table > thead th { font-family: var(--fuente-titulo); font-weight: 400; background-color: var(--cabecera-bg); background-image: var(--tex-cuero); color: var(--cabecera-texto); border-bottom: 3px solid var(--albero); }
.table caption { font-style: italic; color: var(--tinta-suave); }
