/* Dropdowns, list groups y accordion. */
/* ================= DROPDOWN / LIST GROUP / ACCORDION ================= */
.dropdown-menu {
  --bs-dropdown-bg: var(--sup-menu); --bs-dropdown-color: var(--tinta); --bs-dropdown-border-color: var(--cabecera-bg); --bs-dropdown-border-width: 2px;
  --bs-dropdown-link-color: var(--tinta); --bs-dropdown-link-hover-color: var(--tinta); --bs-dropdown-link-hover-bg: var(--hover);
  --bs-dropdown-link-active-bg: var(--sangre); --bs-dropdown-link-active-color: #fff; --bs-dropdown-link-disabled-color: var(--tinta-suave);
  --bs-dropdown-header-color: var(--acento); --bs-dropdown-divider-bg: var(--costura-color);
  background-image: var(--tex-panel); box-shadow: 0 10px 22px rgba(10,5,2,.4);
}
.list-group {
  --bs-list-group-bg: var(--sup-lista); --bs-list-group-color: var(--tinta); --bs-list-group-border-color: var(--costura-color);
  --bs-list-group-active-bg: var(--cabecera-bg); --bs-list-group-active-color: var(--cabecera-texto); --bs-list-group-active-border-color: var(--cabecera-bg);
  --bs-list-group-action-color: var(--tinta); --bs-list-group-action-hover-color: var(--tinta); --bs-list-group-action-hover-bg: var(--hover);
  --bs-list-group-disabled-color: var(--tinta-suave); --bs-list-group-disabled-bg: transparent;
}
.accordion {
  --bs-accordion-bg: var(--sup-card); --bs-accordion-color: var(--tinta); --bs-accordion-border-color: var(--borde); --bs-accordion-border-width: 2px;
  --bs-accordion-btn-bg: var(--sup-panel); --bs-accordion-btn-color: var(--titulo);
  --bs-accordion-active-bg: var(--cabecera-bg); --bs-accordion-active-color: var(--cabecera-texto);
  --bs-accordion-btn-focus-box-shadow: var(--anillo-brasa);
}
.accordion-button { font-family: var(--fuente-titulo); background-image: var(--tex-panel); }
.accordion-button:not(.collapsed)::after { filter: invert(.8) sepia(1) saturate(3) hue-rotate(5deg); }
[data-bs-theme="dark"] .accordion-button:not(.collapsed)::after { filter: sepia(1) saturate(3) hue-rotate(5deg); }
